/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color:       	#111;
$body-font-color: 	$text-color;
$body-bg: 			#fdfdfd;



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$pri-flmorg: #C75B12; // flame orange
$pri-ecogrn: #008542; // eco green
$pri-brlwht: #FFFFFF; // brilliance white
$sec-solorg: #E98300; // solar orange
$sec-spkorg: #FFB612; // spark orange
$sec-sdlgrn: #C9DD03; // seedling green
$sec-splgrn: #69BE28; // sapling green
$sec-skyblu: #5BC6E8; // sky blue
$sec-strblu: #00A1DE; // stratos blue
$sec-spcblu: #0039A6; // space blue
$gry-2: #D5D2CA; // warm gray 2
$gry-4: #B7B1A9; // warm gray 4
$gry-6: #A59D95; // warm gray 6
$gry-8: #8B8178; // warm gray 8
$gry-10: #766A62; // warm gray 10
$gry-12: #2f2a27; // custom gray
$blk: #000000; // black


/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color: $sec-spcblu;
$secondary-color: $sec-splgrn;
$alert-color: $sec-solorg;
$success-color: $sec-splgrn;
$warning-color: $sec-spkorg;
$info-color: $sec-spcblu;


/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color: $pri-brlwht;

$topbar-dropdown-toggle-color: $sec-spcblu;

$topbar-link-color: $blk;
$topbar-link-color-hover: $blk;
$topbar-link-color-active: $blk;
$topbar-link-color-active-hover: $blk;

$topbar-dropdown-label-color: $sec-skyblu;
$topbar-dropdown-link-bg-hover: $sec-splgrn;

$topbar-link-bg-active: $sec-splgrn; // Active Navigation Link
$topbar-link-bg-hover: $sec-splgrn;
$topbar-link-bg-active-hover: $sec-skyblu;


$topbar-dropdown-bg: $sec-splgrn; // Background Mobile Navigation
$topbar-dropdown-link-color: $blk;
$topbar-dropdown-link-bg: $sec-skyblu;

$topbar-menu-link-color-toggled: $sec-spcblu;
$topbar-menu-icon-color-toggled: $sec-spcblu;
$topbar-menu-link-color: $blk;
$topbar-menu-icon-color: $blk;
$topbar-menu-link-color-toggled: $sec-splgrn;
$topbar-menu-icon-color-toggled: $sec-splgrn;



/* Footer
------------------------------------------------------------------- */

$footer-bg: $gry-8;
$footer-color: $pri-brlwht;
$footer-link-color: $sec-splgrn;


$subfooter-bg: $gry-12;
$subfooter-color: $gry-8;
$subfooter-link-color: $gry-8;



/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: #ffffff;
$highlight-comment: #999988;
$highlight-error: #a61717;
$highlight-comment-special: #999999;
$highlight-deleted: #000000;
$highlight-error-2: #aa0000;
$highlight-literal-string: #d14;
$highlight-literal-number: #009999;
$highlight-name-attribut: #008080;
$highlight-error-background: #e3d2d2;
$highlight-generic-deleted: #ffdddd;
$highlight-generic-deleted-specific: #ffaaaa;
$highlight-generic-inserted: #ddffdd;
$highlight-generic-inserted-specific: #aaffaa;
$highlight-generic-output: #888888;
$highlight-generic-prompt: #555555;
$highlight-subheading: #aaaaaa;
$highlight-keyword-type: #445588;
$highlight-name-builtin: #0086B3;
$highlight-name-class: #445588;
$highlight-name-entity: #800080;
$highlight-name-exception: #990000;
$highlight-name-function: #990000;
$highlight-name-namespace: #555555;
$highlight-name-tag: #000080;
$highlight-text-whitespace: #bbbbbb;
$highlight-literal-string-regex: #009926;
$highlight-literal-string-symbol: #990073;
