---
sitemap:
  exclude: true
---
@charset "utf-8";

@import "functions.scss";

$include-html-classes: false;
@import "01_settings_colors.scss";
@import "02_settings_typography.scss";
@import "03_settings_mixins_media_queries.scss";
@import "04_settings_global.scss";

* {
	display: block;
}

:root {
	margin: 3em;
	background: $body-bg;
	color: $body-font-color;
	font-family: $body-font-family;
}

feed {
	> title {
		text-align: center;
		color: lighten($primary-color, 25%);
		font-family: $header-font-family;
		font-size: $font-size-h1 * 1.5;
		font-weight: bolder;
		&::before {
			content: 'Atom Feed for ';
			font-weight: initial;
		}
		&::after {
			content: "This Atom feed is meant to be used by RSS reader applications and websites.";
			display: block;
			padding: 1em;
			background-color: $alert-color;
			color: #fff;
			font-family: initial;
			font-size: initial;
			letter-spacing: initial;
		}
	}

	> id,
	> updated,
	> subtitle,
	> author,
	> link,
	> generator {
		display: none;
	}
}

entry {
	padding: 1em 0;
	border-bottom: 1px solid invert($body-bg);
	&:last-child {
		border-bottom: none;
	}

	> title {
		color: $secondary-color;
		font-family: $header-font-family;
		font-size: $font-size-h1;
		margin-bottom: 0.5em;
	}

	> link::after {
		content: attr(href);
		color: $primary-color;
	}

	> updated {
		color: $gry-6;
		font-size: small;
	}

	> summary {
		margin-top: 1em;
	}

	> id,
	> author,
	> category,
	> published,
	> content {
		display: none;
	}
}
