---
layout: default
format: blog-index
# Don't index these pages dear Google.
noindex: true
---
<div class="row">
	<div class="medium-12 columns t30">
		{% include pagination %}
	</div><!-- /.medium-7.columns -->


<!-- 	<div class="medium-4 columns t30">
		{% include sidebar %}
	</div><!-- /.medium-5.columns -->
</div><!-- /.row -->
